Package: com.sassoty.noupdatecircles
Name: NoUpdateCircles
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: No more annoying install/update circles!
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
